* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  font-family: "Raleway", sans-serif;
}

body{
  background-color: rgb(60, 60, 60);
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  cursor: pointer;
}